.card {
  background-color: #666;
  color: white;
  padding: 40px;
  border-radius: 10px;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-footer {
  position: absolute;
  bottom: 40px;
  left: 40px;
}
